<app-header></app-header>
<div class="sav__content">
  <ng-container *ngIf="patternImageSlicesUrls">
    <app-image-container [imageSlicesUrls]="patternImageSlicesUrls"></app-image-container>
  </ng-container>
  <ng-container *ngIf="mixedUpImageSlicesUrls">
    <app-image-container [imageSlicesUrls]="mixedUpImageSlicesUrls"></app-image-container>
    <app-image-container [imageSlicesUrls]="mixedUpImageSlicesUrls"></app-image-container>
    <app-image-container [imageSlicesUrls]="mixedUpImageSlicesUrls"></app-image-container>
    <app-image-container [imageSlicesUrls]="mixedUpImageSlicesUrls"></app-image-container>
    <app-image-container [imageSlicesUrls]="mixedUpImageSlicesUrls"></app-image-container>
    <app-image-container [imageSlicesUrls]="mixedUpImageSlicesUrls"></app-image-container>
  </ng-container>
</div>

