<app-header></app-header>
<div class="sav__content">
  <ng-container *ngIf="patternImageSlicesUrls">
    <app-image-container [imageSlices]="patternImageSlicesUrls"></app-image-container>
  </ng-container>
  <ng-container *ngIf="mixedUpImageSlicesUrls">
    <app-image-container [imageSlices]="mixedUpImageSlicesUrls" [sortStrategy]="SortType.InsertSort" (sorted)="sorted($event)"></app-image-container>
    <app-image-container [imageSlices]="mixedUpImageSlicesUrls" [sortStrategy]="SortType.QuickSort" (sorted)="sorted($event)"></app-image-container>
  </ng-container>
</div>

