@import './../../../../assets/styles/core/theme_variables.scss';

.sav {
  &__header {
    display: flex;
    justify-content: space-between;
    background-color: $primary;
    padding: 0.25rem 1rem;
  }

  &__header-container {
    display: flex;
    align-items: center;

    button,
    a {
      color: $white;
    }

    p {
      margin-bottom: 0;
    }
  }

  &__header-status {
    background-color: $white;
    padding: 0 0.25rem;
    border-radius: 0.25rem;
    font-weight: 500;
  }
}

