<nav class="sav__header">
  <div class="sav__header-container">
    <a [routerLink]="[ '/' ]" class="mat-button mat-button-raised">Home</a>
  </div>
  <div class="sav__header-container">
    <ng-container *ngIf="sortingStatusService.sortingStatus() | async as status">
      <div class="sav__header-status">
        <p class="sav__header-status-name">
          {{ status | imageSortingStatus }}
        </p>
      </div>
      <ng-container *ngIf="status === ImageSortingStatus.SORTED || status === ImageSortingStatus.CANCELLED">
        <button mat-button (click)="sortingStatusService.shuffle()">Shuffle</button>
      </ng-container>
      <ng-container *ngIf="status === ImageSortingStatus.SHUFFLED">
        <button mat-button (click)="sortingStatusService.sort()">Sort</button>
      </ng-container>
      <ng-container *ngIf="status === ImageSortingStatus.SORTING_IN_PROGRESS">
        <button mat-button (click)="sortingStatusService.cancelled()">Cancel</button>
      </ng-container>
    </ng-container>
  </div>
</nav>
